services:
  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=new_rent
      - POSTGRES_PASSWORD=VRu^FwGV5D%Twaz_forest
      - POSTGRES_DB=new_rent_development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - new_rent_default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U new_rent -d new_rent_development"]
      interval: 10s
      timeout: 5s
      retries: 5
  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
      - bundle_path:/bundle
      - ./public/uploads:/app/public/uploads
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_PASSWORD=VRu^FwGV5D%Twaz_forest
      - SECRET_KEY_BASE=a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6a7b8c9d0e1f2g3h4i5j6k7l8m9n0o1p2q3r4s5t6u7v8w9x0y1z2
      - APP_HOST=rentavtokavkaz.ru
    ports:
      - '3003:3003'
    networks:
      - new_rent_default

networks:
  new_rent_default:
    driver: bridge

volumes:
  redis:
    driver: local
  bundle_path:
    driver: local
  postgres_data:
    driver: local

